.contacto{
    background-image: url(../img/locall.jpg);
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    width: 100%;
    margin: auto;

    h1 {
        color: white;
        display: flex;
        justify-content: center;
        padding: 20px;
        font-size: 37px;
    }

    h2, p{
        text-shadow: 5px 1px 3px black;
        font-size: 30px;
        color: white;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}