header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
    position: sticky;
    top: 0;
}

.logo {
    width: 250px;
    height: 80px;
    padding: 13px;
}